body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/* Header Section */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.logo {
    width: 300px;
}
    
nav a {
    display: inline;
    padding: 30px;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-size: 17px;
}

nav a:hover {
    border: 1px solid #cceced;
    border-radius: 8px;
    background-color: #cceced;
}

/* Main Section */

.indextext {
    background-color:#cceced;
    display: flex;
    align-items: center;
    padding: 15px;
}

.indeximg {
    display: block;
    width: 100%;
}

/* Footer Section */

footer {
    position: relative;
    height: 150px;
    background-color: black;
    background-image: url(./images/footer.png);
    background-size: cover;
    background-repeat: repeat;
    display: flex;
    justify-content: center;
    padding-top: 18px;
}

footer p {
    padding: 0px 60px;
    font-size: 20px;
}

footer img {
    height: 60px;
    padding-top: 4px;
    padding-left: 60px;
}